{% extends 'base.html' %}
{% load static %}

<!-- Code block for displaying current site's sub-page -->
{% block extra_title %}| Testimonials{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

<!-- Code block for displaying Testimonials page -->
{% block content %}
<div class="container-fluid main-container">
    <div class="row">
        <div class="col text-center">
            <h2 class="logo-font">Testimonials</h2>
        </div>
    </div>
</div>

<div class="container-fluid testimonials">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 p-4">

            {% if testimonials %}
            <div class="card-deck">
                {% for testimonial in testimonials %}
                {% if testimonial.public %}
                <div class="card mb-4">
                    <div class="card-body testimonial-cards">
                        <h5 class="card-title">{{ testimonial.name }}</h5>
                        <p class="card-text">{{ testimonial.testimonial }}</p>
                        <p class="card-text"><small class="text-muted">Created On: {{ testimonial.created_on }}</small>
                        </p>

                        <a class="btn btn-secondary text-white" href="{% url 'testimonial_detail' pk=testimonial.pk %}"
                            class="card-link">View</a>
                        {% if request.user.is_superuser or testimonial.user == request.user %}
                        <a href="{% url 'edit_testimonial' pk=testimonial.pk %}"
                            class="card-link btn btn-success text-white">Edit</a>
                        <a href="{% url 'delete_testimonial' pk=testimonial.pk %}"
                            class="card-link btn btn-danger text-white">Delete</a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

                {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none mb-4">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-4">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-4">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block mb-4">
                    <hr>
                </div>
                {% endif %}

                {% endfor %}
            </div>
            {% else %}
            <p class="text-center">You haven't made any testimonials yet.</p>
            {% endif %}

            <div class="text-center">
                <a href="{% url 'add_testimonial' %}" class="btn btn-secondary">Add Testimonial</a>
            </div>
        </div>
    </div>
</div>

{%endblock%}

<!-- Back to top button -->
{% block postloadjs %}
{{ block.super }}

<script>
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0);
    })
</script>
{%endblock%}