@import url('https://fonts.googleapis.com/css2?family=Amethysta&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Amethysta', sans-serif;
}

body {
    background-color: lavender;
}

.cover-image {
    background: url('/media/lavender-bush.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Amethysta', sans-serif;
    overflow-y: scroll;
}

.header-container {
    padding-top: 120px;
}

/* Navbar */

nav {
    background-color: #B6A5CB !important;
}

nav.navbar a {
    color: black;
}

.container-fluid.fixed-top {
    padding: 0;
}

.dropdown-menu {
    background-color: lavender;
}

.input-group-text {
    background-color: lavender;
}

.form-control {
    background-color: lavender;
}

.navbar-toggler {
    border: 1px solid black;
    font-size: 30px;
}

.text-info {
    color: #a71e68e6 !important;
    font-size: 20px;
}

/* Footer */

footer {
    background-color: #B6A5CB;
}

.social-media a {
    color: black;
}

.footer-links a {
    color: black;
}

iframe {
    width: 100%;
}

/* Index */

.logo-font {
    background: lavender;
    opacity: 0.8;
    color: black;
    font-size: 55px;
    font-style: italic;
    line-height: 1.5;
    border-radius: 40px;
    padding: 50px;
}

.shop-now-button {
    font-size: 1.5rem;
    font-weight: 900;
    padding: 1rem 2rem;
    background: lavender;
    opacity: 0.8;
    color: black;
    border-radius: 20px;
}

/* About */

.home-about {
    background-color: lavenderblush;
    padding: 30px;
}

.about-extra {
    background-color: lavenderblush;
}

/* Blog */

.card-body {
    background-color: lavender;
}

.card {
    border: 1px solid rgb(0 0 0);
}

.card-body h2 {
    font-size: 2rem;
}

.card-body a {
    color: black;
}

.card-footer {
    background-color: lavender;
}

.img-fluid {
    max-width: 100%;
}

.card-body a:hover {
    text-decoration: none;
    color: #8464ac;
}

.pagination {
    background-color: lavender;
}

/* Blog detailed */

.btn-like {
    background-color: lavender;
}

/* Contacts */

.contacts {
    background-color: lavenderblush;
}

/* Delivery */

.delivery-bg {
    background: #aa8bc7;
}

.delivery-font {
    font-size: 15px;
}

/* Articles */

.category-border {
    border: 1px solid #aa8bc7 !important;
}

.category-border button {
    font-size: 14px;
}

.btt-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 9999;
}

.btt-button.show {
    opacity: 1;
    visibility: visible;
}

.decrement-qty,
.increment-qty {
    font-size: 20px;
}

/* Testimonials */

/* Messages */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */
@media (min-width: 200px) {
    .header-container {
        padding-top: 69px;
    }

    .mobile-view i,
    p {
        font-size: 12px;
    }

    .mobile-view a {
        font-size: 15px;
    }

    .navbar-toggler {
        font-size: 20px;
    }

    .logo-font {
        font-size: 25px;
        padding: 20px;
    }

    .btn-group {
        display: block;
    }

    .decrement-qty,
    .increment-qty {
        font-size: 10px;
    }

    .article-buttons span {
        font-size: 14px;
    }

    .custom-button {
        font-size: 15px;
    }

    .card-body h2 {
        font-size: 1rem;
    }

    .unsubscribe h2 {
        font-size: 20px;
    }

    .testimonial-cards a {
        font-size: 12px;
    }

    .text-muted {
        font-size: 10px;
    }
}

@media (min-width: 355px) {
    .header-container {
        padding-top: 75px;
    }

    .mobile-view i,
    p {
        font-size: 14px;
    }

    .navbar-toggler {
        font-size: 20px;
    }

    .logo-font {
        font-size: 25px;
        padding: 20px;
    }

    .cover-image {
        height: 55vh;
    }

    .shop-now-button {
        font-size: 1rem;
    }

    .footer-1,
    .footer-2,
    .footer-3 {
        font-size: 15px;
    }

    .btn-group {
        display: block;
    }

    .card-body h2 {
        font-size: 1rem;
    }
}

@media (min-width: 576px) {
    .header-container {
        padding-top: 75px;
    }

    .navbar-toggler {
        font-size: 25px;
    }
}

@media (min-width: 768px) {
    .btn-group {
        display: contents;
    }
}

@media (min-width: 992px) {
    .header-container {
        padding-top: 77px;
    }

    .delivery-font {
        font-size: 20px;
    }

    .testimonial-cards a {
        font-size: 15px;
    }

}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container-fluid {
        max-width: 80%;
    }
}

@media (min-width: 1400px) {
    .container-fluid {
        max-width: 80%;
    }

    .testimonial-cards a {
        font-size: 18px;
    }
}