{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Unsubscribe{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Unsubscribe from newsletter form -->
<div class="container text-center mb-5 unsubscribe">
    <div class="row justify-content-center">
        <div class="col-10 col-md-8 col-lg-6 p-3 mt-4">
            <h2>Unsubscribe from Newsletter</h2>
            <br>
            <p>Enter your e-mail address below and you will be removed straight away.</p>
            <form method="POST" action="{% url 'unsubscribe' %}" class="">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email"></label>
                    <br>
                    <input class="form-control" type="email" name="email" size="30" placeholder="E-mail address"
                        required="" id="email">
                </div>
                <br>
                <a href="{% url 'home' %}" class="btn btn-secondary" aria-label="home page link">
                    <span>Close</span>
                </a>
                <input class="btn btn-secondary linear" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</div>

{% endblock %}